body {
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: content-box;
    margin: auto;
}

.header_sub{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    background-color: #FAFBFD;
    top: 0;
    z-index: 10;
}

.header_sub_contents{
    display: flex;
    width: 100%;
}

.header_sub_contents ul{
    list-style: none;
}

.header_sub_contents_link_list {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header_sub_contents_link_list a{
    text-decoration: none;
    color: black;
}
